version: '3.8'
services:
  db:
    image: postgres:15
    environment:
       POSTGRES_USER: ${POSTGRES_USER}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: ./services/api
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}
      STRIPE_SECRET: ${STRIPE_SECRET}
    ports:
      - "4000:4000"
    volumes:
      - ./services/api:/app

  web:
    build: ./services/web
    depends_on:
      - api
    ports:
      - "3000:80"
  
  admin:
    build: ./services/admmin
    depends_on:
      - api
    ports:
      - "3001:80"

volumes:
  db_data: